@charset "utf-8";

body {
/*  font-family: "Meiryo", "メイリオ", sans-serif;*/
  font-family: "Open Sans", verdana, arial, sans-serif;
  font-size: 0.8rem;
  font color: "#444";
  width: 100%; max-width: 1000px; margin: 20px auto;
  }


header,footer { width: 100%; max-width: 1000px; margin: 20px auto; }
footer { text-align: center; color: gray; }


div {
  font-family: "Open Sans", verdana, arial, sans-serif;
  font-size: 0.8rem;
  font color: "#444";
}

table {
  border-collapse: collapse;
  color: #333;
  background-color: #FFF;
}

th, td {
  padding: 5px 15px;
  border: solid 1px #a5d1f1;
  line-height: 2;
}

th {
  color: #0d90f3;
  background-color: #d0ebfd;
}

input, select {
/*    -webkit-appearance: none;*/
/*    appearance: none;*/
/*    border: 1px solid #000;*/
  border-radius: 0px;

  background: #f2f2f2;
  display: inline-block;
  width: 6em;
  max-width: 100%;
  padding: 0.3em;
  border: 1px solid #999;
  box-sizing: border-box;
  margin: 0.25em 0;
  font-size: 1.1em;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance:textfield;
}


span.num_samples {
  color: lightgray;
}


.c_button{
  width: 20%;
  min-width: 200px;
  max-width: 600px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #68779a;
  background: #cbe8fa;
  cursor: pointer;
  font-size: 1.1em;
}

.c_button:hover{
  background-color: #E6A1C0;
  border-color: #E6A1C0;
}

.r_button{
  width: 10%;
  min-width: 100px;
  max-width: 200px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #68779a;
  background: #fff;
  cursor: pointer;
  font-size: 1.1em;
}

.r_button:hover{
  background-color: #DDDDDD;
  border-color: #68779a;
}


#explain_posterior{
  visibility: hidden;
  color: gray;
}

#explain_pA_over_pB{
  visibility: hidden;
  color: gray;
}
